/* Ç±ÇÃÉtÉ@ÉCÉãÇÕ PatternConverter Ç…ÇÊÇ¡Çƒé©ìÆê∂ê¨Ç≥ÇÍÇ‹ÇµÇΩ */
.Grass_AllOn {
    background-color: #00FF00;
}

.Grass_AllOff {
    background-color: #00FF00;
}

.Grass_OutsideOn {
    background-color: #00FF00;
}

.Grass_Vibration {
    background-color: #00FF00;
}

.Grass_LeftToRight1 {
    background-color: #00FF00;
}

.Grass_RightToLeft1 {
    background-color: #00FF00;
}

.Grass_LeftToRight3 {
    background-color: #00FF00;
}

.Grass_RightToLeft3 {
    background-color: #00FF00;
}

.Grass_BothEdgeToMiddle {
    background-color: #00FF00;
}

.Grass_MiddleToBothEdge {
    background-color: #00FF00;
}

.Grass_LeftToRightNeg {
    background-color: #00FF00;
}

.Grass_RightToLeftNeg {
    background-color: #00FF00;
}

.Grass_LeftToRightVertical1 {
    background-color: #00FF00;
}

.Grass_RightToLeftVertical1 {
    background-color: #00FF00;
}

.Grass_LeftToRightVertical3 {
    background-color: #00FF00;
}

.Grass_RightToLeftVertical3 {
    background-color: #00FF00;
}

.Grass_BottomToTop {
    background-color: #00FF00;
}

.Grass_TopToBottom {
    background-color: #00FF00;
}

.Grass_LeftToRightBlock {
    background-color: #00FF00;
}

.Grass_RightToLeftBlock {
    background-color: #00FF00;
}

.House_AllOn {
    background-color: #FF0000;
}

.House_AllOff {
    background-color: #FF0000;
}

.House_OutsideOn {
    background-color: #FF0000;
}

.House_OneByOne {
    background-color: #FF0000;
}

.House_Stream {
    background-color: #FF0000;
}

.House_OpenDoor {
    background-color: #FF0000;
}

.House_CloseDoor {
    background-color: #FF0000;
}

.House_BottomToTop {
    background-color: #FF0000;
}

.House_TopToBottom {
    background-color: #FF0000;
}

.House_SpreadFromBottomPoint {
    background-color: #FF0000;
}

.House_ShrinkFromTopPoint {
    background-color: #FF0000;
}

.House_ShootingStar {
    background-color: #FF0000;
}

.House_Pseudo3dRotation {
    background-color: #FF0000;
}

.Tile_AllOn {
    background-color: #FFBB00;
}

.Tile_AllOff {
    background-color: #FFBB00;
}

.Tile_OneByOne {
    background-color: #FFBB00;
}

.Tile_Stream {
    background-color: #FFBB00;
}

.Tile_BackToFrontSpreadly {
    background-color: #FFBB00;
}

.Tile_FrontToBackSpreadly {
    background-color: #FFBB00;
}

.Tile_FrontToBack {
    background-color: #FFBB00;
}

.Tile_BackToFront {
    background-color: #FFBB00;
}

.Tile_RightToLeft {
    background-color: #FFBB00;
}

.Tile_LeftToRight {
    background-color: #FFBB00;
}

.Tile_Circle_Led3Point1 {
    background-color: #FFBB00;
}

.Tile_Circle_Led3Point2 {
    background-color: #FFBB00;
}

.Tile_Circle_Led2Point3 {
    background-color: #FFBB00;
}

.Tile_Circle_Led3Point3 {
    background-color: #FFBB00;
}

.Tile_Circle_Led1Point6 {
    background-color: #FFBB00;
}

.Tile_Circle_Led2Point6 {
    background-color: #FFBB00;
}

.Tile_Circle_Led3Point6 {
    background-color: #FFBB00;
}

.Tile_Cross {
    background-color: #FFBB00;
}

.Tree_AllOn {
    background-color: #0000FF;
}

.Tree_AllOff {
    background-color: #0000FF;
}

.Tree_OutsideOn {
    background-color: #0000FF;
}

.Tree_OneByOne {
    background-color: #0000FF;
}

.Tree_TopToBottomHorizontal1 {
    background-color: #0000FF;
}

.Tree_TopToBottomHorizontal3 {
    background-color: #0000FF;
}

.Tree_TopToBottomBuffer {
    background-color: #0000FF;
}

.Tree_UpperLeftToRight {
    background-color: #0000FF;
}

.Tree_UpperRightToLeft {
    background-color: #0000FF;
}

.Tree_LowerLeftToRight {
    background-color: #0000FF;
}

.Tree_LowerRightToLeft {
    background-color: #0000FF;
}

.Tree_LeftToRight {
    background-color: #0000FF;
}

.Tree_RightToLeft {
    background-color: #0000FF;
}

.Tree_MiddleToBothEdge {
    background-color: #0000FF;
}

.Tree_Candle {
    background-color: #0000FF;
}

.Tree_BottomToTop {
    background-color: #0000FF;
}

.Tree_Wave {
    background-color: #0000FF;
}


